header{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color:#04BFAD    

    }
.canetabr{
    background-color: #6ccfc5;
    position: absolute;
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 7em;
    width: 30em;
    height: 30rem;
    margin: 10em 42em;
}
body{
    background-color: #04BFAD;
}